
normalize-css()

body
  background linear-gradient(to right, #aad0df 0%, #cbe4ed 100%)
  font-family Arial, Helvetica, sans-serif

div
  align-items center
  display flex
  justify-content center
  height 100vh